* {
	margin: 0;
	padding: 0;
	font-family: Arial;
	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	transition:.25s;
	}
p{
	padding:20px;
	}
a.link {
	color: #fb9601;
	}
a.link:hover {
	color: #000000;
	}
/**Navigation Bar**/
.navBar{
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	min-width: 750px;
	top:0px;
	left:0px;
	padding: 20px;
	background-color: black;
	opacity:.9;
	box-shadow: 0px 0px 15px #000000;
	z-index: 1;
	}
.navBar:after{
	position: absolute;
	width: 100%;
	height: 72px;
	top: 30px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: inherit;
	transform-origin: top left;
	transform: skewY(-1.5deg);
	box-shadow: 0px 0px 15px #000000;
	content: '';
	z-index: -1;
	}﻿
/**Nav Bar Elements**/
img#logo{
	float:left;
	}
ul#navMenu{
	list-style: none;
	float: right;
	user-select: none;
	}
ul#navMenu li{
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
	font-size: 16px;
	}
ul#navMenu li a{
	text-decoration: none;
	color: #fb9601;
	}
ul#navMenu li a:hover{
	color: white;
	text-shadow: 0px 0px 20px black;
	}
.navCur{
	color: white;
	cursor: pointer;
	text-shadow: 0px 0px 20px black;
	}
/**General Layout**/
#heroImg {
	width: 100%;
	height: 350px;
	min-width: 750px;
	box-shadow: 0px 0px 15px #000000;
	z-index:1;
	}
#heroImg img {
	width: 100%;
		height: 350px;
}
#wrapper{
	position: absolute;
	width: 100%;
	height: auto;
	min-width: 750px;
	background-color: gray;
	background-image: url("images/bgweb.jpg");
	z-index:-1;
	}
/**Home Layout**/
#mainLeft{
	position: relative;
	width: 54%;
	height: 500px;
	margin-top: 55px;
	margin-left: 3.33%;
	background-color: #ffffff;
	border-radius: 10px 0px 0px 10px;
	box-shadow: 0px 0px 1px #000000;
	float: left;
	}
#mainRight{
	position: relative;
	width: 36%;
	height: 500px;
	margin-top: 55px;
	margin-right: 3.33%;
	background-color: #ffffff;
	border-radius: 0px 10px 10px 0px;
	box-shadow: 0px 0px 1px #000000;
	float: right;
	}
.innerCol{
	position:relative;
	width:50%;
	height:100%;
	float: left;
	}
iframe{
	width:100%; 
	height:315px;
	border:0;
}
/**Products Layout**/
.prodInfo{
	position: relative;
	background-color: white;
	font-size:16px;
	width: 93.334%;
	margin-top:55px;
	margin-left:3.33%;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 0px 1px #000000;
	float: left;
	z-index: -2;
	}
.prodLeft{
	position: relative;
	background-color: white;
	width: 44.9%;
	max-width: 1000px;
	height: 400px;
	margin-top:55px;
	margin-left:3.33%;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 0px 1px #000000;
	float: left;
	z-index: -2;
	clear:both;
	}
.prodRight{
	position: relative;
	background-color: white;
	width: 44.9%;
	max-width: 1000px;
	height: 400px;
	margin-top:55px;
	margin-right:3.33%;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 0px 1px #000000;
	float:right;
	z-index: -2;
	}
.prodImg{
	display: block;
	width: 100%;
	}
.prodTable{
	width: calc(100% - 20px); 
	height: calc(100% - 20px); 
	margin:10px;
	}
tr.desc td {
	margin: 10px;
	width: 50%;
	vertical-align: top;
	}
tr.calc td {
	margin: 10px;
	width: 50%;
	text-align: center;
	}
button {
	background-color: #fb9601;
    border: 1px solid gray;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
	width: 100%;
	}
button:hover{
	background-color: #FFFFFF;
    border: 1px solid black;
	text-shadow: 0px 0px 100px black;
	color: black;
	}
button:focus{ 
	outline: none;
	}
.price{
	font-weight: bold;
}
/**Gallery Layout**/
.galleryWrap {
	position: relative;
	background-color: white;
	width: 93.334%;
	height: 100%;
	margin-top:55px;
	margin-left:3.33%;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 0px 1px #000000;	
	z-index: -2;
	}
.im-grid{
    position: relative;
    margin: 10px auto;
    padding-top:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	}
.im-single {
	width: 200px;
	height: 200px;
	float:left;
	margin:10px;
	box-shadow: 0px 0px 0px #ffffff;
	cursor: pointer;
	}
.im-single img {
	width:100%;
	height:100%;
	}
.im-single img:hover {
	width:105%;
	height:105%;
	box-shadow: 0px 0px 25px #000000;
	}
.modal{
	position: fixed;
	display:none;
	width:100vw;
	height:100vh;
	background-color: rgba(0,0,0,0.8);
	top:0;
	left:0;
	z-index: 2;
	}
.modalContent{
	position: relative;
	margin: auto;
	width: 90vw;
	max-width:1100px;
	height:auto;
	text-align: center;
	}
.modalImgBox img{
	width:100%;
	cursor: default;
	}
.prev, .next, .close {
  	cursor: pointer;
  	position: absolute;
  	top: 50%;
  	width: auto;
  	padding: 16px;
  	margin-top: -50px;
  	color: white;
  	font-weight: bold;
 	font-size: 60px;
  	transition: 0.3s ease;
  	border-radius: 0 8px 8px 0;
  	user-select: none;
  	-webkit-user-select: none;
	background-color:rgba(0,0,0,0.35);
	}
.next {
  	right: 0;
  	border-radius: 8px 0 0 8px;
	}
.close{
	width: 40px;
	height: 40px;
	font-size: 40px;
	text-align: center;
	top:40px;
	right:0px;
	border-radius: 0 0 0 8px;
	}
.prev:hover, .next:hover, .close:hover {
	background-color:rgba(255,103,0,0.5);
	}
.caption{
	display: block;
	color: white;
	font-size: 24px;
	padding: 16px;
	text-align: center;	
	}
/*loading*/
.loader {
	text-align:	center; 
	position: absolute; 
	bottom: 50vh; 
	left: calc(50vw - 30px); 
	margin-bottom: -100px; 
	z-index: 3;
  	border: 16px solid rgba(0,0,0,0);
  	border-radius: 50%;
  	border-top: 16px solid #fb9601;
 	border-bottom: 16px solid #fb9601;
  	width: 60px;
  	height: 60px;
  	-webkit-animation: spin 1s ease-out infinite;
  	animation: spin 1s ease-out infinite;
	}
@-webkit-keyframes spin {
  	0% { -webkit-transform: rotate(0deg); }
  	100% { -webkit-transform: rotate(360deg); }
	}
@keyframes spin {
  	0% { transform: rotate(0deg); }
  	100% { transform: rotate(360deg); }
	}
/*loading*/
/**Mobile Displays**/
@media only screen and (min-width:1px) and (max-width: 1100px) {
    #mainLeft {
	height: 700px;
	}
	#mainRight {
	height: 700px;
	}
    .modal {
    	overflow:hidden;
    }
    .modalContent{
		width: 100vw;
		}
	.caption{
		position: absolute;
		top:0px;
		width: calc(100vw - 72px);
		height: 48px;
		padding: 24px 0px 0px 0px;
		background-color: rgba(0,0,0, 0.35);			
		}
	.close{
		top:50px;
		border-radius: 0 0 0 0;
		}
    ul#navMenu li{
    	font-size: 27px;
    	}
    ul#navMenu{
    	margin-top:5px;
    	}
    #footerExtraPad {
    	height: 500px;
    	}
	}
@media only screen and (min-height:1px) and (max-height: 870px) {
	.caption{
		position: absolute;
		top:0px;
		width: calc(100% - 72px);
		height: 48px;
		padding: 24px 0px 0px 0px;
		background-color: rgba(0,0,0, 0.35);			
		}
	.close{
		top:50px;
		border-radius: 0 0 0 0;
		}
	}
/**Footer**/
.footerPad{
	clear: both;
	height: 250px;
	}
.miniWrapper {
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: 100px;
	background: white;
	}
.miniWrapper:after{
	position: absolute;
	width: 100%;
	height: 100px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: inherit;
	transform-origin: top left;
	transform: skewY(-1.5deg);
	box-shadow: 0px 0px 15px #000000;
	content: '';
	z-index: -1;
    }﻿