* {
	margin: 0;
	padding: 0;
	font-family: Arial;
	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	transition:.25s;
	}
p{
	padding:20px;
	}
a.link {
	color: #fb9601;
	}
a.link:hover {
	color: #000000;
	}
/**Navigation Bar**/
.navBar{
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	min-width: 750px;
	top:0px;
	left:0px;
	padding: 20px;
	background-color: black;
	opacity:.9;
	box-shadow: 0px 0px 15px #000000;
	z-index: 1;
	}
.navBar:after{
	position: absolute;
	width: 100%;
	height: 72px;
	top: 30px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: inherit;
	transform-origin: top left;
	transform: skewY(-1.5deg);
	box-shadow: 0px 0px 15px #000000;
	content: '';
	z-index: -1;
	}﻿
/**Nav Bar Elements**/
img#logo{
	float:left;
	}
ul#navMenu{
	list-style: none;
	float: right;
	user-select: none;
	}
ul#navMenu li{
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
	font-size: 16px;
	}
ul#navMenu li a{
	text-decoration: none;
	color: #fb9601;
	}
ul#navMenu li a:hover{
	color: white;
	text-shadow: 0px 0px 20px black;
	}
.navCur{
	color: white;
	cursor: pointer;
	text-shadow: 0px 0px 20px black;
	}
/**General Layout**/
#heroImg {
	width: 100%;
	height: 350px;
	min-width: 750px;
	box-shadow: 0px 0px 15px #000000;
	z-index:1;
	}
#heroImg img {
	width: 100%;
		height: 350px;
}
#wrapper{
	position: absolute;
	width: 100%;
	height: auto;
	min-width: 750px;
	background-color: gray;
	z-index:-1;
	}
/**Home Layout**/
#mainLeft{
	position: relative;
	width: 54%;
	height: 750px;
	margin-top: 55px;
	margin-left: 3.33%;
	background-color: #ffffff;
	border-radius: 10px 0px 0px 10px;
	box-shadow: 0px 0px 1px #000000;
	float: left;
	}
#mainRight{
	position: relative;
	width: 36%;
	height: 750px;
	margin-top: 55px;
	margin-right: 3.33%;
	background-color: #ffffff;
	border-radius: 0px 10px 10px 0px;
	box-shadow: 0px 0px 1px #000000;
	float: right;
	}
.innerCol{
	position:relative;
	width:50%;
	height:100%;
	float: left;
	}
/**Products Layout**/
p.prodCost{
	display: inline-block;
	font-weight:bold;
	margin-left: 0;
	padding-left: 0;
	text-align: right;
	}
.prodInfo{
	position: relative;
	background-color: white;
	font-size:25px;
	font-weight: bold;
	width: 93.334%;
	height: 150px;
	margin-top:55px;
	margin-left:3.33%;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 0px 1px #000000;
	float: left;
	z-index: -2;
	}
.prodLeft{
	position: relative;
	background-color: white;
	width: 44.9%;
	max-width: 1000px;
	height: 400px;
	margin-top:55px;
	margin-left:3.33%;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 0px 1px #000000;
	float: left;
	z-index: -2;
	clear:both;
	}
.prodRight{
	position: relative;
	background-color: white;
	width: 44.9%;
	max-width: 1000px;
	height: 400px;
	margin-top:55px;
	margin-right:3.33%;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 0px 1px #000000;
	float:right;
	z-index: -2;
	}
.prodImg{
	display: block;
	width: 100%;
	}
.prodTable{
	width: calc(100% - 20px); 
	height: calc(100% - 20px); 
	margin:10px;
	}
tr.desc td {
	margin: 10px;
	width: 50%;
	vertical-align: top;
	}
tr.calc td {
	margin: 10px;
	width: 50%;
	text-align: center;
	}
button {
	background-color: #fb9601;
    border: 1px solid gray;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
	width: 80%;
	}
button:hover{
	background-color: #FFFFFF;
    border: 1px solid black;
	text-shadow: 0px 0px 100px black;
	color: black;
	}
button:focus{ 
	outline: none;
	}
/**Gallery Layout**/
.galleryWrap {
	position: relative;
	background-color: white;
	width: 93.334%;
	height: 100%;
	margin-top:55px;
	margin-left:3.33%;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 0px 1px #000000;	
	z-index: -2;
	}
.im-grid{
    position: relative;
    margin: 10px auto;
    padding-top:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	}
.im-single {
	width: 200px;
	height: 200px;
	float:left;
	margin:10px;
	box-shadow: 0px 0px 0px #ffffff;
	cursor: pointer;
	}
.im-single img {
	width:100%;
	height:100%;
	}
.im-single img:hover {
	width:105%;
	height:105%;
	box-shadow: 0px 0px 25px #000000;
	}
.modal { 
	display: none; 
	width: 100%; 
	height: 100%; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
	top:0px; left:0px; 
	clear:both; 
	z-index: 1;  
	position: fixed;
}
.modalImgBox {
	position: relative;
	margin-top: 15vh;
	}
.modalImgBox img {
	height: 70vh;
	display: block;
	margin: auto;
	user-select: none;
	z-index: 2;
	background-color: white;
	opacity: 1;
}
#imgCaption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 20px 0;
    font-size:27px;
    height: 150px;
    }
iframe{
	width:100%; 
	height:315px;
	border:0;
	}
.prev, .next, .close {
 	color: grey; 
 	font-size: 60px; 
 	font-weight: bold; 
 	user-select: none;
 	-webkit-user-select: none; 
 	cursor: pointer; 
 	text-shadow: 0px 0px 8px #000000; 
  	position: absolute;
  	top: 83.5vh;
  	width: auto;
  	border-radius: 0 3px 3px 0;
  	z-index: 3;
  	background-color: white;
  	opacity: 0.4;

	}
.prev {
	padding-left:20vw;
	border-radius: 0 8px 8px 0;
}
.next {
  	right: 0;
  	border-radius: 8px 0 0 8px;
    padding-right:20vw;
	}
.close {
	top: 5vh;
	right:5vh;
	padding-right:0;
	padding-left:0;
	font-size: 60px;
	text-align: center;
	width: 60px;
	border-radius: 8px 8px 8px 8px;
	}
.prev:hover, .next:hover, .close:hover {
	opacity: 0.9;
	color: #fb9601; 
	}
/*loading*/
#floatingCirclesG{
	position:relative;
	width:125px;
	height:125px;
	margin:auto;
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:22px;
	width:22px;
	border-radius:12px;
		-o-border-radius:12px;
		-ms-border-radius:12px;
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:51px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#frotateG_02{
	left:15px;
	top:15px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#frotateG_03{
	left:51px;
	top:0;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#frotateG_04{
	right:15px;
	top:15px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#frotateG_05{
	right:0;
	top:51px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#frotateG_06{
	right:15px;
	bottom:15px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#frotateG_07{
	left:51px;
	bottom:0;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#frotateG_08{
	left:15px;
	bottom:15px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}



@keyframes f_fadeG{
	0%{
		background-color:rgb(251,151,1);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:rgb(251,151,1);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:rgb(251,151,1);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:rgb(251,151,1);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:rgb(251,151,1);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}
/*loading*/
/**Mobile Displays**/
@media only screen and (min-width:1px) and (max-width: 1334px) {
    .modalImgBox {
		position: relative;
		margin-top: 0;
		}
    .modalImgBox img {
		height:auto;
		max-height: 100vh;
		width: 100vw;
		}
	#imgCaption {
		background-color: black;
		opacity:0.8;
		position: absolute;
    	top: 0px;
    	font-size:27px;
    	height: auto;
    	width:auto;
    	margin-left: 25%;
    	z-index: 3;
    	}
    .prev, .next{
    	top:80%;
    }
    ul#navMenu li{
    	font-size: 27px;
    	}
    ul#navMenu{
    	margin-top:5px;
    	}
    #footerExtraPad{
		height: 650px;
		}
	}


/**Footer**/
.footerPad{
	clear: both;
	height: 250px;
}
.miniWrapper {
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: 100px;
	background: white;
	}
.miniWrapper:after{
	position: absolute;
	width: 100%;
	height: 100px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: inherit;
	transform-origin: top left;
	transform: skewY(-1.5deg);
	box-shadow: 0px 0px 15px #000000;
	content: '';
	z-index: -1;
    }﻿